
@{
    ViewBag.Title = "Well, you shouldn't be here";
}

<h2>You can't be here</h2>

@section scripts
{
    <style>
        body {
            background: none;
        }
    </style>
    <script>

    </script>
}
