@model Filme.Core.ViewModels.RandomViewModel
@{
    ViewBag.Title = "Movies ASP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 style="color: white; padding-bottom: 30px;">
    Welcome to<span class="label label-success" style="margin:5px;">RentFlix</span>
</h1>


<div class="card infos">
    <img src="https://i.pinimg.com/originals/71/79/a1/7179a1ae9f735a616f04e4071d9d50f5.jpg" alt="Avatar" style="width:100%">
    <div class="container">
        <h4><b><span class="label label-danger">Chiritoiu Culai</span></b></h4>
        <span class="label label-warning viewInfos">Playing with ASP.NET</span>
    </div>
</div>





